/* Global Styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Times New Roman', Times, serif;
	line-height: 1.6;
	color: #333;
	background-color: #f9f9f9;
}

.container {
	max-width: 1200px;
	margin: 40px auto;
	padding: 20px;
}

/* Navigation Menu */
.navbar {
	background-color: #333;
	color: #fff;
	padding: 0px;
	text-align: center;
}

.navbar-brand {
	font-size: 25px;
	font-weight: bold;
	color: #f7f2f2;
}

.navbar-toggler {
	border: none;
	background-color: #333;
	color: #fff;
}

.navbar-toggler-icon {
	font-size: 24px;
}

.navbar-nav {
	margin-top: 10px;
}

.nav-item {
	margin-right: 20px;
}

.nav-link {
	color: #fff;
	text-decoration: none;
}

.nav-link:hover {
	color: #ccc;
}

/* Main Header */
header {
	background-image: linear-gradient(to bottom right, #3a3635, #938d89, #1d1c1c, #0f0f0f);
	background-size: 100% 300px;
	background-position: 0% 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fbf8f8;
}

/* Glowing Text Effect */
header h1 {
font-size: 48px;
font-weight: bold;
margin-bottom: 20px;
position: relative;
z-index: 2;
text-shadow: 0 0 5px #000000, 
		 0 0 10px #b0efea;
		 
animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
from {
text-shadow: 0 0 5px #090909, 
0 0 10px #b0efea;
			
}
to {
text-shadow: 0 0 10px #b0efea, 
			 0 0 20px #030303;
			 
}
}


header p {
	font-size: 24px;
	margin-bottom: 40px;
}

header img {
	width: 130px;
height: 130px;
border-radius: 50%;
margin: -3px;
margin-inline-start: 200px;
}

/* About Section */
#about {
	background-color: #f7f7f7;
	padding: 40px;
}

#about h2 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
}

#about p {
	font-size: 20px;
	margin-bottom: 40px;
}

/* Skills Section */
#skills {
	background-color: #fff;
	padding: 40px;
}

#skills h2 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
}

.skill {
	margin-bottom: 20px;
}

.skill .skill-name {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}

.skill .progress {
	height: 20px;
	background-color: #f1f1f1;
}

.skill .progress-bar {
	background-color: #333;
	line-height: 20px;
	color: #fff;
}

.skill .progress-bar.html {
	width: 90%;
}

.skill .progress-bar.css {
	width: 80%;
}

.skill .progress-bar.js {
	width: 75%;
}

.skill .progress-bar.node {
	width: 70%;
}

.skill .progress-bar.git {
	width: 85%;
}

.skill .progress-bar.vscode {
	width: 90%;
}

.skill .progress-bar.microsoft-powerbi {
	width: 89%;
}

.skill .progress-bar.python {
	width : 50%;
}

/* Project Section */
#project {
background-color: #f7f7f7;
padding: 60px 0;
text-align: center;
}

#project h2 {
font-size: 36px;
font-weight: bold;
margin-bottom: 40px;
position: relative;
display: inline-block;
}

.project-card {
background-color: #fff;
border-radius: 10px;
overflow: hidden;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card img {
width: 100%;
height: 294px;
object-fit: cover;
transition: transform 0.3s ease;
}

.project-card .project-content {
padding: 20px;
}

.project-card h3 {
font-size: 24px;
font-weight: bold;
margin-bottom: 10px;
}

.project-card p {
font-size: 18px;
margin-bottom: 0;
color: #666;
}

.project-card:hover {
transform: translateY(-10px);
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-card:hover img {
transform: scale(1.05);
}


/* Contact Section */
#contact {
	background-color: #333;;
	padding: 40px;
}

#contact h2 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #fff;
}

#contact p {
	font-size: 18px;
	margin-bottom: 20px;
}

#contact ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#contact li {
	font-size: 18px;
	margin-bottom: 20px;
}

#contact a {
	text-decoration: none;
	color: #337ab7;
}

#contact a:hover {
	color: #23527c;
}